<div class="background" align="center" style="background-image: url('/assets/fondo3.jpg'); height: 100%">
  <mat-card class="cardProfile">
    <img mat-card-image
         [src]="user?.profile_pic_url">
    <mat-card-title align="center">{{user?.names}} {{user?.last_names}}</mat-card-title>
    <div class="stars"><span class="material-icons">star_rate star_rate star_rate star_rate star_rate</span></div>
    <mat-card-content>
      <div align="center">
        <button mat-raised-button color="primary" class="btn">Agregar</button>
        <button mat-raised-button color="accent" class="btn">Enviar Mensaje</button>
      </div>
      <div align="left">
        <span class="material-icons">house</span>
        <span class="material-icons">call</span>
        <span class="material-icons">local_post_office</span>
        <span class="material-icons">calendar_today</span>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="cardPublication">
    <div style="display: flex; align-items: center; flex-wrap: wrap">
      <mat-card class="minicard" *ngFor="let userservice of userservices" (click)="goToService(userservice.id)"
                style="cursor: pointer">
        <mat-card-title align="center">{{userservice.service.name}}</mat-card-title>
        <img mat-card-image [src]="userservice.service.image_url" class="image">
      </mat-card>
    </div>
  </mat-card>

</div>
